# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Environment variables
.env

# Node.js
frontend/node_modules/

# Build folders
frontend/build/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db